setuptools
Django==1.10.1
flake8
pep8
pyflakes
django-timezone-field>=2.0rc1
django-localflavor
bcrypt==3.1.0
mock
git+https://github.com/foundertherapy/django-axes.git@remove_dependency_on_ip
django-recaptcha
